<%- include("./partials/header.ejs") %>
<h1 style="text-align: center;">
	Login Page
</h1>
<div class="raw">
	<div class="col-md-4 col-md-offset-4">
		<form action="/login" method="post">
			<div class="form-group">
				<input class="form-control" style="margin:10px;" type="text" placeholder="username" name="username">
				<input class="form-control" style="margin:10px;" type="password" placeholder="password" name="password">
				<button style="margin:10px; width:100%" class=" btn btn-primary">
					login
				</button>
			</div>
		</form>
	</div>
</div>
<%- include("./partials/footer.ejs") %>